
h1 {
  color: white;
  font-family: 'covered by your grace';
}
h2{
  color: white;
  font-family: 'covered by your grace';
}
body{
  background-color: black;
  color: white;
  font-family: 'Covered By Your Grace';font-size: 17px;
}
#q1{
  font-size: 30px;

}
#q2{
  font-size: 30px;
}
#q3{
  font-size: 30px;
}

#q4{
  font-size:20px;
}

#q5{
  font-size:20px;
}

#q6{
  font-size: 20px;
}
